---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Austral">
    <div
        class="flex flex-col items-center justify-center h-full w-full rounded-3xl bg-orange-500"
    >
        <h1 class="text-6xl font-bold">austral</h1>
        <p>add a fun animation here or something like that idk</p>
    </div>
</BaseLayout>
