---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex flex-col items-center justify-center h-full">
        <h1 class="text-6xl font-bold">Austral</h1>
        <p class="text-orange-500">
            add a fun animation here or something like that idk
        </p>
    </div>
</BaseLayout>
