---
const { title, subtitle } = Astro.props;
const url = Astro.url;
const match = `/${title}` === url.pathname || `/${title}/` === url.pathname;
---

<header
    class="w-full flex justify-end items-baseline gap-2 sticky top-0 bg-gray-900 border-b border-gray-600"
>
    {
        !match && (
            <span class="text-[2rem] uppercase" transition:animate="slide">
                {subtitle}
            </span>
        )
    }
    <h2
        class=`${match ? 'text-white' : 'text-gray-600'} text-8xl uppercase`
        transition:animate="fade"
    >
        {title}
    </h2>
</header>
