---
const { title, subtitle } = Astro.props;
const url = Astro.url;
const match = `/${title}` === url.pathname;
---

<header class="w-full flex justify-end items-baseline gap-2">
    {!match && <span class="text-[2rem] uppercase">{subtitle}</span>}
    <h2 class=`${match ? 'text-white' : 'text-gray-600'} text-8xl uppercase`>
        {title}
    </h2>
</header>
