---
import LogoBrand from "@/components/ui/LogoBrand.astro";
import LogoOutlineWhite from "@/components/ui/LogoOutlineWhite.astro";
import NavigationMobile from "./NavigationMobile.astro";
import NavigationDesktop from "./NavigationDesktop.astro";
const url = Astro.url;
const match = url.pathname === "/";
---

<div class="flex md:flex-col h-full md:gap-4 justify-between md:pb-2">
    <div class="self-start">
        <a href="/">
            {match ? <LogoBrand /> : <LogoOutlineWhite />}
        </a>
    </div>
    <NavigationDesktop />
    <NavigationMobile />
</div>
