---
interface Props {
    slug: string;
    src: string;
    title: string;
}

const { slug, src, title } = Astro.props;
---

<div class="flex flex-col items-center">
    <a href={`/projects/${slug}`}>
        <div class="max-w-[30rem]">
            <img
                src={src}
                alt={title}
                class="rounded-xl aspect-video w-full h-full"
                loading="lazy"
            />
            <div class="flex items-start w-full p-4">
                <p class="text-2xl">{title}</p>
            </div>
        </div>
    </a>
</div>
