---
import Byline from "@/components/Byline.astro";
import Header from "@/components/Header.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
const { subtitle, frontmatter } = Astro.props;
---

<BaseLayout>
    <Header title="blog" subtitle={subtitle} />
    <div class="flex flex-col items-center w-full overflow-auto">
        <div class="flex flex-col w-7/12 pt-9 gap-4">
            <Byline
                src={frontmatter.pfp.src}
                author={frontmatter.author}
                date={frontmatter.publishDate}
            />
            <slot />
        </div>
    </div>
</BaseLayout>
