---
import Header from "@/components/Header.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
const { subtitle, frontmatter } = Astro.props;
---

<BaseLayout>
    <Header title="projects" subtitle={subtitle} />
    <div class="w-full h-[30rem] bg-red-300">
        <img
            src={frontmatter.image.src}
            alt={frontmatter.title}
            class="w-full h-full"
        />
    </div>
    <div class="w-7/12 mt-12 flex flex-col gap-4">
        <slot />
    </div>
</BaseLayout>
